.remove-btn{
    opacity: 0;
    transition: 0.5s opacity ease-in-out;
    
}

.goal:hover .remove-btn{
    opacity: 1;
}
.disabled{
    color: transparent;
    cursor: not-allowed;
}

.achieved {
    color: gray;
    text-decoration: line-through;

}
.checked{
    opacity: 0.3;
}